AI Voice Agency - With Claude (2).json
{
  "name": "AI Voice Agency - With Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7ced5f77-149c-4cd8-984b-9895c2da61cc",
      "name": "Twilio Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2160,
        864
      ],
      "webhookId": "56cd74ad-e7d1-473d-9e65-d293303b1a6a"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst CACHE_TTL = 30 * 60 * 1000;\nconst now = Date.now();\n\nif (\n  staticData.config &&\n  staticData.fetchedAt &&\n  (now - staticData.fetchedAt) < CACHE_TTL\n) {\n  return [{ json: { ...staticData.config, _fromCache: true } }];\n}\n\nreturn [{ json: { _fromCache: false } }];"
      },
      "id": "0dc579e6-ba5a-483d-94bf-d79c29d0466f",
      "name": "Check Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._fromCache }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": "",
              "id": "a1b2c3d4-1234-5678-abcd-001122334455"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "02af4593-ffba-434b-9aec-c319cae379a2",
      "name": "Config Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1712,
        864
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fkwlcNo0hNkZnxbgpCUhsHlXGCfTI06DySJ_JAZkWHU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fkwlcNo0hNkZnxbgpCUhsHlXGCfTI06DySJ_JAZkWHU/edit#gid=0"
        },
        "options": {}
      },
      "id": "2f6e30da-321d-4c3d-9c06-b627a06a28ed",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1712,
        1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jIjKJwUKv54jP30y",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.config = data;\nstaticData.fetchedAt = Date.now();\nreturn [{ json: data }];"
      },
      "id": "c7cbdaa7-c7b9-4e70-b997-ff0ba44e3561",
      "name": "Save Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        1072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn {{ ($('Twilio Voice Webhook').item.json.query || {}).turn || '1' }}.{{ ($('Twilio Voice Webhook').item.json.query || {}).ts ? '\\n\\nConversation history:\\n' + ($('Twilio Voice Webhook').item.json.query || {}).ts : '' }}\n\nCurrent caller says: {{ $('Twilio Voice Webhook').item.json.body.SpeechResult || '(new call - no speech yet)' }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.ai_system_prompt }}"
            }
          ]
        }
      },
      "id": "940fdccf-57cd-42e9-9ad4-2ac37b92dc1c",
      "name": "OpenAI Voice Receptionist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1280,
        848
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0
        }
      },
      "id": "7c29705e-403f-4476-b692-19a3769f4959",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1296,
        1056
      ],
      "credentials": {
        "openAiApi": {
          "id": "yNLWTA5R8B2QwksZ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst config = staticData.config || {};\nreturn [{\n  json: {\n    text: $input.first().json.text,\n    greeting_voice: config.greeting_voice || 'Polly.Joanna',\n    speech_timeout: String(config.speech_timeout !== undefined ? config.speech_timeout : '1'),\n    gather_timeout: String(config.gather_timeout !== undefined ? config.gather_timeout : '4'),\n    max_turns: String(config.max_turns !== undefined ? config.max_turns : '5'),\n    config_number: String(config.Number || '')\n  }\n}];"
      },
      "id": "cb795bbc-d0f6-40cd-9c3f-81f898cb9f1c",
      "name": "Enrich Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        848
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"{{ $json['greeting_voice'] || 'Polly.Joanna' }}\" language=\"en-US\">{{ $json.text }}</Say>\n    {{ ($json.text || '').toLowerCase().includes('stay safe') || Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) >= Number($json['max_turns'] || 6) + 1 ? '<Hangup/>' : '<Gather input=\"speech\" method=\"POST\" language=\"en-US\" action=\"https://parrotscoutai.app.n8n.cloud/webhook/twilio-voice?turn=' + (Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) + 1) + '&amp;ts=' + encodeURIComponent((($('Twilio Voice Webhook').item.json.query || {}).ts ? ($('Twilio Voice Webhook').item.json.query || {}).ts + ' | ' : '') + 'T' + (($('Twilio Voice Webhook').item.json.query || {}).turn || '1') + ': ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '')) + '\" timeout=\"' + ($json['gather_timeout'] || '4') + '\" speechTimeout=\"' + ($json['speech_timeout'] || '1') + '\" speechModel=\"phone_call\" enhanced=\"true\"></Gather>' }}\n</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "id": "6d0dd2be-57a1-4254-852d-f79d7be35f83",
      "name": "Return TwiML XML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -800,
        848
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-status",
        "options": {}
      },
      "id": "64f3ebe2-5aee-4080-a167-d46d43f16938",
      "name": "Call Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2144,
        1296
      ],
      "webhookId": "c8538d11-0521-498d-b05f-e334389ce0cf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.CallStatus }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "no-answer",
              "id": "f6859161-c6f8-40bc-b996-76e623b11224"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5fb2c7f-8e67-4c4b-a799-10f5ebb132f3",
      "name": "Is Missed Call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1680,
        1296
      ]
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "={{ $json.body.From }}",
        "message": "={{ $('Read Config SMS').item.json['missed_call_sms'] || 'Sorry we missed your call! We will get back to you shortly. Reply to this message or call us back anytime.' }}",
        "options": {}
      },
      "id": "b3e711ff-f0b7-45e0-a30b-6652979f64d5",
      "name": "Send Missed Call SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1440,
        1280
      ],
      "credentials": {
        "twilioApi": {
          "id": "s6VdHDFGq7AQrV7q",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "options": {}
      },
      "id": "5ca2162f-ccee-4580-8e16-e48052540b0c",
      "name": "Lead Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1904,
        1552
      ],
      "webhookId": "470efb72-6c25-4de6-9d7c-05e60f3d3fe7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1BVl3BwM_Aa3EUrDOEnddGHTMhE8E7pRJs365KTsH3Ow/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BVl3BwM_Aa3EUrDOEnddGHTMhE8E7pRJs365KTsH3Ow/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Phone": "={{ $json.body.phone }}",
            "Email": "={{ $json.body.email }}",
            "Business Name": "={{ $json.body.businessName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "763d4a13-253f-497b-a07a-8348ca2dca7a",
      "name": "Save Lead to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1680,
        1552
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jIjKJwUKv54jP30y",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "+15753839095",
        "message": "=New ParrotScout Lead!\nName: {{ $(\"Lead Form Webhook\").item.json.body.name }}\nBusiness: {{ $(\"Lead Form Webhook\").item.json.body.businessName || \"N/A\" }}\nPhone: {{ $(\"Lead Form Webhook\").item.json.body.phone }}\nEmail: {{ $(\"Lead Form Webhook\").item.json.body.email }}",
        "options": {}
      },
      "id": "aaa71804-e1e7-41cb-9e5e-cc17ad0fc841",
      "name": "Text Admin Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1440,
        1472
      ],
      "credentials": {
        "twilioApi": {
          "id": "s6VdHDFGq7AQrV7q",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sunjilllb4@gmail.com",
        "subject": "New ParrotScout Lead",
        "message": "=<h2>New Demo Request</h2><table style=\"font-family:sans-serif;border-collapse:collapse\"><tr><td style=\"padding:6px 12px;font-weight:bold\">Name</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.name }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Business</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.businessName || \"N/A\" }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Phone</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.phone }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Email</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.email }}</td></tr></table><p style=\"color:#999;font-size:12px;margin-top:16px\">{{ $now.toLocaleString() }}</p>",
        "options": {}
      },
      "id": "abe52a06-d651-46b3-93cb-f449f136b563",
      "name": "Email Lead Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1440,
        1648
      ],
      "webhookId": "4ec9f589-0e28-4395-845b-d1c0837e06dd",
      "credentials": {
        "gmailOAuth2": {
          "id": "3hlCmznUzH2JAJNa",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instant-demo",
        "options": {}
      },
      "id": "9571033a-c650-477f-b797-0962b243e8e5",
      "name": "Instant Demo Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1904,
        1808
      ],
      "webhookId": "e1553bac-35e4-4d2b-b26d-2f20de528987"
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+15077650557",
        "to": "={{ $json.body.phone }}",
        "twiml": true,
        "message": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"Polly.Joanna\">Thanks for trying ParrotScout! Connecting you now.</Say>\n    <Redirect>https://parrotscoutai.app.n8n.cloud/webhook/twilio-voice</Redirect>\n</Response>",
        "options": {}
      },
      "id": "86a4d90b-b689-454f-ad98-b288db89ff33",
      "name": "Initiate Demo Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1680,
        1808
      ],
      "credentials": {
        "twilioApi": {
          "id": "s6VdHDFGq7AQrV7q",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.text }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "stay safe",
              "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc"
            },
            {
              "leftValue": "={{ Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "rightValue": "={{ Number($('Enrich Response').item.json['max_turns'] || 6) }}",
              "id": "d2e3f4a5-b6c7-8901-def0-234567890bcd"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b570a6ff-ada9-4d2d-b9d1-a5bb3710b52b",
      "name": "Is Lead Captured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        848
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract caller contact details from the FULL conversation transcript below.\nReturn ONLY a raw JSON object (no markdown, no backticks, no explanation) with exactly these keys: name, address, phone.\nSearch EVERY line carefully. If a field is not found anywhere, use \"not provided\".\n\nFULL TRANSCRIPT (all turns combined):\n{{ ($('Twilio Voice Webhook').item.json.query || {}).ts ? ($('Twilio Voice Webhook').item.json.query || {}).ts + ' | T' + (($('Twilio Voice Webhook').item.json.query || {}).turn || '1') + ': ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '') : 'T1: ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '') }}\n\nTwilio system number — NEVER use as callback: +15077650557\nActual caller number from Twilio: {{ $('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}",
        "messages": {
          "messageValues": [
            {
              "message": "You extract contact details from a voice call transcript. Return ONLY a raw JSON object with keys: name, address, phone. No markdown, no backticks.\n\nRules:\n- NEVER use +15077650557 as the phone — that is the business Twilio line.\n- If the caller said 'this number', 'my number', 'same number', or 'call me back on this', use the Twilio Caller ID.\n- If the caller stated a phone number verbally, use that number.\n- If phone is not found in the transcript at all, use the Twilio Caller ID as fallback.\n- Search the ENTIRE transcript for name and address — they may appear in any turn.\n- If name or address truly cannot be found, use \"not provided\".\n\nFull transcript:\n{{ ($('Twilio Voice Webhook').item.json.query || {}).ts ? ($('Twilio Voice Webhook').item.json.query || {}).ts + ' | T' + (($('Twilio Voice Webhook').item.json.query || {}).turn || '1') + ': ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '') : $('Twilio Voice Webhook').item.json.body.SpeechResult }}\nTwilio Caller ID: {{ $('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}"
            }
          ]
        }
      },
      "id": "9af74d47-9f82-4e4a-8d45-860bb0e148b5",
      "name": "Extract Lead Details",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -384,
        800
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0
        }
      },
      "id": "b5d7cb1c-3720-4c16-baac-bf57bf0f6145",
      "name": "OpenAI Extract Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -288,
        1024
      ],
      "credentials": {
        "openAiApi": {
          "id": "yNLWTA5R8B2QwksZ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sunjilllb4@gmail.com",
        "subject": "=New ParrotScout Demo Lead",
        "message": "=<h2>New Demo Call Lead</h2><table style=\"border-collapse:collapse;font-family:sans-serif\"><tr><td style=\"padding:8px;font-weight:bold\">Caller Phone</td><td style=\"padding:8px\">{{ $('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Name</td><td style=\"padding:8px\">{{ (() => { try { return JSON.parse($json.text.replace(/```json|```/g, '').trim()).name || 'not provided'; } catch(e) { return 'not provided'; } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Address</td><td style=\"padding:8px\">{{ (() => { try { return JSON.parse($json.text.replace(/```json|```/g, '').trim()).address || 'not provided'; } catch(e) { return 'not provided'; } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Callback Number</td><td style=\"padding:8px\">{{ (() => { try { const p = JSON.parse($json.text.replace(/```json|```/g, '').trim()).phone; return (p && p !== 'not provided' && p !== '+15077650557') ? p : ($('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From); } catch(e) { return ($('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From); } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Full Transcript</td><td style=\"padding:8px;color:#555;font-size:12px\">{{ ($('Twilio Voice Webhook').item.json.query || {}).ts ? ($('Twilio Voice Webhook').item.json.query || {}).ts + ' | T' + (($('Twilio Voice Webhook').item.json.query || {}).turn || '1') + ': ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '') : $('Twilio Voice Webhook').item.json.body.SpeechResult }}</td></tr></table><p style=\"color:#999;font-size:12px\">{{ $now.toLocaleString() }}</p>",
        "options": {}
      },
      "id": "946d6572-958f-4cdd-9ca0-21928433c0d8",
      "name": "Email Lead Details",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -32,
        688
      ],
      "webhookId": "38cb1c7d-4a9e-416c-a66d-3a68a3ce623e",
      "credentials": {
        "gmailOAuth2": {
          "id": "3hlCmznUzH2JAJNa",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "=+{{ $('Enrich Response').item.json['config_number'] }}",
        "message": "=New ParrotScout Lead!\nPhone: {{ $('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}\nName: {{ (() => { try { return JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).name || 'not provided'; } catch(e) { return 'not provided'; } })() }}\nAddress: {{ (() => { try { return JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).address || 'not provided'; } catch(e) { return 'not provided'; } })() }}\nCallback: {{ (() => { try { const p = JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).phone; return (p && p !== 'not provided' && p !== '+15077650557') ? p : ($('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From); } catch(e) { return ($('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From); } })() }}",
        "options": {}
      },
      "id": "ed93e5fd-f8fb-483f-a8ba-e2dda097f412",
      "name": "SMS Lead to Admin",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -32,
        928
      ],
      "credentials": {
        "twilioApi": {
          "id": "s6VdHDFGq7AQrV7q",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fkwlcNo0hNkZnxbgpCUhsHlXGCfTI06DySJ_JAZkWHU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fkwlcNo0hNkZnxbgpCUhsHlXGCfTI06DySJ_JAZkWHU/edit#gid=0"
        },
        "options": {}
      },
      "id": "52e76bad-0ed8-4d1f-b576-ad87f755ed20",
      "name": "Read Config SMS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1904,
        1296
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jIjKJwUKv54jP30y",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Voice Webhook": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Config Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Cached?": {
      "main": [
        [
          {
            "node": "OpenAI Voice Receptionist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Save Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cache": {
      "main": [
        [
          {
            "node": "OpenAI Voice Receptionist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Voice Receptionist": {
      "main": [
        [
          {
            "node": "Enrich Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Voice Receptionist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Response": {
      "main": [
        [
          {
            "node": "Return TwiML XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return TwiML XML": {
      "main": [
        [
          {
            "node": "Is Lead Captured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead Captured?": {
      "main": [
        [
          {
            "node": "Extract Lead Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Details": {
      "main": [
        [
          {
            "node": "Email Lead Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Lead to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extract Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Lead Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call Status Webhook": {
      "main": [
        [
          {
            "node": "Read Config SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config SMS": {
      "main": [
        [
          {
            "node": "Is Missed Call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Missed Call?": {
      "main": [
        [
          {
            "node": "Send Missed Call SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Form Webhook": {
      "main": [
        [
          {
            "node": "Save Lead to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Sheet": {
      "main": [
        [
          {
            "node": "Email Lead Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text Admin Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instant Demo Webhook": {
      "main": [
        [
          {
            "node": "Initiate Demo Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cf0492d8-4fd9-4114-aef5-fefb158ddd5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3af6e4256d4c0af110bc517a71545fbcc47d8692f4bc7795a6fe104577da5153"
  },
  "id": "Xf0ub1pM7PHImmpf",
  "tags": []
}