AI Voice Agency - Working.json
{
  "name": "AI Voice Agency - Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ff0e49a3-c85b-4899-b402-d126eed98183",
      "name": "Twilio Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        -48
      ],
      "webhookId": "56cd74ad-e7d1-473d-9e65-d293303b1a6a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn {{ ($json.query || {}).turn || '1' }}. Caller says: {{ $json.body.SpeechResult || '(new call)' }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are ParrotScout, a friendly AI voice receptionist for HVAC and plumbing businesses.\n\nSpeak in 1–2 short, natural sentences. Keep it simple and conversational.\n\nFlow through the turns, but stay flexible:\n\nIf the caller corrects or updates info, accept it and move forward.\nIf they skip ahead, adapt instead of forcing the script.\nNever repeat earlier questions unless the info is missing or unclear.\n\nTurn handling:\n\nTurn 1: Greet warmly and ask if they need HVAC or plumbing help.\n\nTurn 2: Acknowledge their issue briefly, then ask if it is urgent or can wait.\n\nTurn 3: Ask for their name, service address, and best callback number. Ask for all three in one natural sentence.\n\nTurn 4: If you have name, address, and phone, confirm the details and wrap up. If something is still missing, ask for just that one missing thing.\n\nTurn 5 or later: Wrap up the call no matter what. Confirm whatever info you have and tell them a technician will reach out soon.\n\nIMPORTANT: When wrapping up the call, you MUST end your final response with the exact phrase Stay safe! This is required for the system to save the lead.\n\nRules:\nSound human, not robotic.\nAllow corrections at any time.\nDo not over-explain or ask multiple questions at once.\nKeep each response short and natural.\nAlways wrap up by turn 5 at the latest with Stay safe!"
            }
          ]
        }
      },
      "id": "6e6a7b7b-7689-40d2-ad17-89ace438de54",
      "name": "OpenAI Voice Receptionist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -576,
        -96
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 80,
          "temperature": 0
        }
      },
      "id": "b6a7f076-1daa-4eff-8eb5-e218fbef65dc",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -640,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "yNLWTA5R8B2QwksZ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"Polly.Joanna\" language=\"en-US\">{{ $json.text }}</Say>\n    {{ ($json.text || '').toLowerCase().includes('stay safe') || Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) >= 6 ? '<Hangup/>' : '<Gather input=\"speech\" method=\"POST\" language=\"en-US\" action=\"https://parrotscoutai.app.n8n.cloud/webhook/twilio-voice?turn=' + (Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) + 1) + '\" timeout=\"5\" speechTimeout=\"auto\" speechModel=\"phone_call\" enhanced=\"true\"></Gather>' }}\n</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "id": "82790ad8-74b8-4dfb-be23-ce27ded3bc4d",
      "name": "Return TwiML XML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -224,
        64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-status",
        "options": {}
      },
      "id": "ab0b74cc-9b21-48b1-bfc3-2985ce00f4f6",
      "name": "Call Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        320
      ],
      "webhookId": "c8538d11-0521-498d-b05f-e334389ce0cf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.CallStatus }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "no-answer",
              "id": "f6859161-c6f8-40bc-b996-76e623b11224"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b988690-4096-4611-b3d1-fa3c34cb24d7",
      "name": "Is Missed Call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        320
      ]
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "={{ $json.body.From }}",
        "message": "Sorry we missed your call! We will get back to you shortly. Reply to this message or call us back anytime.",
        "options": {}
      },
      "id": "bdee56bc-4119-42db-beea-cc5c664b42ff",
      "name": "Send Missed Call SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -320,
        304
      ],
      "credentials": {
        "twilioApi": {
          "id": "EWtXIP8wA9o2dx5Y",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "options": {}
      },
      "id": "264563a9-12df-46bf-900a-2eca3341b962",
      "name": "Lead Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        576
      ],
      "webhookId": "470efb72-6c25-4de6-9d7c-05e60f3d3fe7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1BVl3BwM_Aa3EUrDOEnddGHTMhE8E7pRJs365KTsH3Ow/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BVl3BwM_Aa3EUrDOEnddGHTMhE8E7pRJs365KTsH3Ow/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Phone": "={{ $json.body.phone }}",
            "Email": "={{ $json.body.email }}",
            "Business Name": "={{ $json.body.businessName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "39069d5d-f3ba-4068-acac-8c66e0fe1904",
      "name": "Save Lead to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jIjKJwUKv54jP30y",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "+15753839095",
        "message": "=New ParrotScout Lead!\nName: {{ $(\"Lead Form Webhook\").item.json.body.name }}\nBusiness: {{ $(\"Lead Form Webhook\").item.json.body.businessName || \"N/A\" }}\nPhone: {{ $(\"Lead Form Webhook\").item.json.body.phone }}\nEmail: {{ $(\"Lead Form Webhook\").item.json.body.email }}",
        "options": {}
      },
      "id": "10112120-3e98-4025-9b64-53bb0389c77c",
      "name": "Text Admin Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -320,
        496
      ],
      "credentials": {
        "twilioApi": {
          "id": "EWtXIP8wA9o2dx5Y",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sunjilllb4@gmail.com",
        "subject": "New ParrotScout Lead",
        "message": "=<h2>New Demo Request</h2><table style=\"font-family:sans-serif;border-collapse:collapse\"><tr><td style=\"padding:6px 12px;font-weight:bold\">Name</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.name }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Business</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.businessName || \"N/A\" }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Phone</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.phone }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Email</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.email }}</td></tr></table><p style=\"color:#999;font-size:12px;margin-top:16px\">{{ $now.toLocaleString() }}</p>",
        "options": {}
      },
      "id": "bc378804-b410-40f6-afac-01b3b89a8c62",
      "name": "Email Lead Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -320,
        672
      ],
      "webhookId": "4ec9f589-0e28-4395-845b-d1c0837e06dd",
      "credentials": {
        "gmailOAuth2": {
          "id": "3hlCmznUzH2JAJNa",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instant-demo",
        "options": {}
      },
      "id": "f00fa96d-4dc3-4838-bc66-01db0f44015e",
      "name": "Instant Demo Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        848
      ],
      "webhookId": "e1553bac-35e4-4d2b-b26d-2f20de528987"
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+15077650557",
        "to": "={{ $json.body.phone }}",
        "twiml": true,
        "message": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"Polly.Joanna\">Thanks for trying ParrotScout! Connecting you now.</Say>\n    <Redirect>https://parrotscoutai.app.n8n.cloud/webhook/twilio-voice</Redirect>\n</Response>",
        "options": {}
      },
      "id": "3be72e5d-3181-40a4-84b1-170f2fe1c2b6",
      "name": "Initiate Demo Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -560,
        848
      ],
      "credentials": {
        "twilioApi": {
          "id": "EWtXIP8wA9o2dx5Y",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.text }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "stay safe",
              "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc"
            },
            {
              "leftValue": "={{ Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "rightValue": 5,
              "id": "d2e3f4a5-b6c7-8901-def0-234567890bcd"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "5752e8e6-f9fc-4417-a8fc-494f236c690d",
      "name": "Is Lead Captured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        -32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the caller details from this speech transcript and return ONLY a JSON object with these exact keys: name, address, phone. If a field is not found, use \"not provided\". Do not include any explanation or extra text.\n\nTranscript: {{ $('Twilio Voice Webhook').item.json.body.SpeechResult }}\n\nCaller's actual phone number (from Twilio): {{ $('Twilio Voice Webhook').item.json.body.From === '+15753839095' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}",
        "messages": {
          "messageValues": [
            {
              "message": "Extract caller details from this speech and return ONLY raw JSON (no markdown, no backticks) with keys: name, address, phone.  \n\nRules: \n- For phone: if caller said \"this number\", \"same number\", or \"my number\", use the Twilio caller ID below \n- If any field is missing, use \"not provided\"  \n\nSpeech: {{ $('Twilio Voice Webhook').item.json.body.SpeechResult }} \nTwilio Caller ID: {{ $('Twilio Voice Webhook').item.json.body.From }}"
            }
          ]
        }
      },
      "id": "42d42488-25b5-41c1-8468-3b16e4fe32c8",
      "name": "Extract Lead Details",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        208,
        -112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0
        }
      },
      "id": "e7ef5594-b54b-4246-85f3-a39b46bb4b16",
      "name": "OpenAI Extract Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        80
      ],
      "credentials": {
        "openAiApi": {
          "id": "yNLWTA5R8B2QwksZ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sunjilllb4@gmail.com",
        "subject": "=New ParrotScout Demo Lead",
        "message": "=<h2>New Demo Call Lead</h2><table style=\"border-collapse:collapse;font-family:sans-serif\"><tr><td style=\"padding:8px;font-weight:bold\">Caller Phone</td><td style=\"padding:8px\">{{ $('Twilio Voice Webhook').item.json.body.From === '+15753839095' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Name</td><td style=\"padding:8px\">{{ (() => { try { return JSON.parse($json.text.replace(/```json|```/g, '').trim()).name || 'not provided'; } catch(e) { return 'not provided'; } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Address</td><td style=\"padding:8px\">{{ (() => { try { return JSON.parse($json.text.replace(/```json|```/g, '').trim()).address || 'not provided'; } catch(e) { return 'not provided'; } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Callback Number</td><td style=\"padding:8px\">{{ (() => { try { return JSON.parse($json.text.replace(/```json|```/g, '').trim()).phone || $('Twilio Voice Webhook').item.json.body.From; } catch(e) { return $('Twilio Voice Webhook').item.json.body.From; } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Raw Speech</td><td style=\"padding:8px;color:#666\">{{ $('Twilio Voice Webhook').item.json.body.SpeechResult || '(no speech captured)' }}</td></tr></table><p style=\"color:#999;font-size:12px\">{{ $now.toLocaleString() }}</p>",
        "options": {}
      },
      "id": "5b05f897-1750-4632-98fb-62c630392f52",
      "name": "Email Lead Details",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        -192
      ],
      "webhookId": "38cb1c7d-4a9e-416c-a66d-3a68a3ce623e",
      "credentials": {
        "gmailOAuth2": {
          "id": "3hlCmznUzH2JAJNa",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "+15753839095",
        "message": "=New ParrotScout Lead!\nPhone: {{ $('Twilio Voice Webhook').item.json.body.From === '+15753839095' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}\nName: {{ (() => { try { return JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).name || 'not provided'; } catch(e) { return 'not provided'; } })() }}\nAddress: {{ (() => { try { return JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).address || 'not provided'; } catch(e) { return 'not provided'; } })() }}\nCallback: {{ (() => { try { return JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).phone || $('Twilio Voice Webhook').item.json.body.From; } catch(e) { return $('Twilio Voice Webhook').item.json.body.From; } })() }}",
        "options": {}
      },
      "id": "d39718a4-8591-452c-b0ea-5b9e8fedd280",
      "name": "SMS Lead to Admin",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "credentials": {
        "twilioApi": {
          "id": "EWtXIP8wA9o2dx5Y",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Voice Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Voice Receptionist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Voice Receptionist": {
      "main": [
        [
          {
            "node": "Return TwiML XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return TwiML XML": {
      "main": [
        [
          {
            "node": "Is Lead Captured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead Captured?": {
      "main": [
        [
          {
            "node": "Extract Lead Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extract Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Lead Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Details": {
      "main": [
        [
          {
            "node": "Email Lead Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Lead to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Voice Receptionist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call Status Webhook": {
      "main": [
        [
          {
            "node": "Is Missed Call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Missed Call?": {
      "main": [
        [
          {
            "node": "Send Missed Call SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Form Webhook": {
      "main": [
        [
          {
            "node": "Save Lead to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Sheet": {
      "main": [
        [
          {
            "node": "Email Lead Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text Admin Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instant Demo Webhook": {
      "main": [
        [
          {
            "node": "Initiate Demo Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1300331b-5a81-48a3-8cd1-c9d1c8ffa2ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3af6e4256d4c0af110bc517a71545fbcc47d8692f4bc7795a6fe104577da5153"
  },
  "id": "YVe2g04sY7NHcYrO",
  "tags": []
}