Client/Automation/AI Voice Agency - With Config (4).json
{
  "name": "AI Voice Agency - With Config",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "36c9fb71-3a3d-4027-a805-4ab5d687087e",
      "name": "Twilio Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2320,
        432
      ],
      "webhookId": "56cd74ad-e7d1-473d-9e65-d293303b1a6a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn {{ ($('Twilio Voice Webhook').item.json.query || {}).turn || '1' }}.{{ ($('Twilio Voice Webhook').item.json.query || {}).ts ? '\\n\\nConversation history:\\n' + ($('Twilio Voice Webhook').item.json.query || {}).ts : '' }}\n\nCurrent caller says: {{ $('Twilio Voice Webhook').item.json.body.SpeechResult || '(new call - no speech yet)' }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Read Config').item.json['ai_system_prompt'] }}"
            }
          ]
        }
      },
      "id": "c90b6858-e5cc-47df-8bf9-0eebe7764eaa",
      "name": "OpenAI Voice Receptionist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1872,
        384
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0
        }
      },
      "id": "c572ca3c-b42f-455b-9ac1-64dd8eb2be37",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1936,
        592
      ],
      "credentials": {
        "openAiApi": {
          "id": "yNLWTA5R8B2QwksZ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"{{ $('Read Config').item.json['greeting_voice'] || 'Polly.Joanna' }}\" language=\"en-US\">{{ $json.text }}</Say>\n    {{ ($json.text || '').toLowerCase().includes('stay safe') || Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) >= Number($('Read Config').item.json['max_turns'] || 6) + 1 ? '<Hangup/>' : '<Gather input=\"speech\" method=\"POST\" language=\"en-US\" action=\"https://parrotscoutai.app.n8n.cloud/webhook/twilio-voice?turn=' + (Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) + 1) + '&amp;ts=' + encodeURIComponent((($('Twilio Voice Webhook').item.json.query || {}).ts ? ($('Twilio Voice Webhook').item.json.query || {}).ts + ' | ' : '') + 'T' + (($('Twilio Voice Webhook').item.json.query || {}).turn || '1') + ': ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '')) + '\" timeout=\"' + ($('Read Config').item.json['gather_timeout'] || '8') + '\" speechTimeout=\"' + ($('Read Config').item.json['speech_timeout'] || '3') + '\" speechModel=\"phone_call\" enhanced=\"true\"></Gather>' }}\n</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "id": "d3bf3fec-2fe4-4b38-998e-b976ba8353e9",
      "name": "Return TwiML XML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1520,
        544
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-status",
        "options": {}
      },
      "id": "ddb63dec-6626-4a58-93d6-44290b7aa48c",
      "name": "Call Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2320,
        800
      ],
      "webhookId": "c8538d11-0521-498d-b05f-e334389ce0cf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.CallStatus }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "no-answer",
              "id": "f6859161-c6f8-40bc-b996-76e623b11224"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5cff664a-dcf6-4a2b-a507-2e6583d24b69",
      "name": "Is Missed Call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1856,
        800
      ]
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "={{ $json.body.From }}",
        "message": "={{ $('Read Config SMS').item.json['missed_call_sms'] || 'Sorry we missed your call! We will get back to you shortly. Reply to this message or call us back anytime.' }}",
        "options": {}
      },
      "id": "e75eb7c0-e4fb-49d3-a0be-488e604ee35a",
      "name": "Send Missed Call SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1616,
        784
      ],
      "credentials": {
        "twilioApi": {
          "id": "s6VdHDFGq7AQrV7q",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "options": {}
      },
      "id": "411d4e82-fe4a-4a6e-907f-a83eb14f16bb",
      "name": "Lead Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2080,
        1056
      ],
      "webhookId": "470efb72-6c25-4de6-9d7c-05e60f3d3fe7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1BVl3BwM_Aa3EUrDOEnddGHTMhE8E7pRJs365KTsH3Ow/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BVl3BwM_Aa3EUrDOEnddGHTMhE8E7pRJs365KTsH3Ow/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Phone": "={{ $json.body.phone }}",
            "Email": "={{ $json.body.email }}",
            "Business Name": "={{ $json.body.businessName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e59de82a-f10d-4699-9e3b-652069c755ab",
      "name": "Save Lead to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1856,
        1056
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jIjKJwUKv54jP30y",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "+15753839095",
        "message": "=New ParrotScout Lead!\nName: {{ $(\"Lead Form Webhook\").item.json.body.name }}\nBusiness: {{ $(\"Lead Form Webhook\").item.json.body.businessName || \"N/A\" }}\nPhone: {{ $(\"Lead Form Webhook\").item.json.body.phone }}\nEmail: {{ $(\"Lead Form Webhook\").item.json.body.email }}",
        "options": {}
      },
      "id": "41b2fae3-c324-4125-ae47-831ca05656a3",
      "name": "Text Admin Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1616,
        976
      ],
      "credentials": {
        "twilioApi": {
          "id": "s6VdHDFGq7AQrV7q",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sunjilllb4@gmail.com",
        "subject": "New ParrotScout Lead",
        "message": "=<h2>New Demo Request</h2><table style=\"font-family:sans-serif;border-collapse:collapse\"><tr><td style=\"padding:6px 12px;font-weight:bold\">Name</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.name }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Business</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.businessName || \"N/A\" }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Phone</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.phone }}</td></tr><tr><td style=\"padding:6px 12px;font-weight:bold\">Email</td><td style=\"padding:6px 12px\">{{ $(\"Lead Form Webhook\").item.json.body.email }}</td></tr></table><p style=\"color:#999;font-size:12px;margin-top:16px\">{{ $now.toLocaleString() }}</p>",
        "options": {}
      },
      "id": "0f6f04c3-06af-4ac3-af8c-2e218714341d",
      "name": "Email Lead Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1616,
        1152
      ],
      "webhookId": "4ec9f589-0e28-4395-845b-d1c0837e06dd",
      "credentials": {
        "gmailOAuth2": {
          "id": "3hlCmznUzH2JAJNa",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instant-demo",
        "options": {}
      },
      "id": "1ea809e2-602c-4d1b-8d69-f09f60932817",
      "name": "Instant Demo Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2080,
        1312
      ],
      "webhookId": "e1553bac-35e4-4d2b-b26d-2f20de528987"
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+15077650557",
        "to": "={{ $json.body.phone }}",
        "twiml": true,
        "message": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"Polly.Joanna\">Thanks for trying ParrotScout! Connecting you now.</Say>\n    <Redirect>https://parrotscoutai.app.n8n.cloud/webhook/twilio-voice</Redirect>\n</Response>",
        "options": {}
      },
      "id": "8af9a7cd-087a-4509-a04b-4e22082840bb",
      "name": "Initiate Demo Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1856,
        1312
      ],
      "credentials": {
        "twilioApi": {
          "id": "s6VdHDFGq7AQrV7q",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.text }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "stay safe",
              "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc"
            },
            {
              "leftValue": "={{ Number(($('Twilio Voice Webhook').item.json.query || {}).turn || 1) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "rightValue": "={{ Number($('Read Config').item.json['max_turns'] || 6) }}",
              "id": "d2e3f4a5-b6c7-8901-def0-234567890bcd"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7d0d0274-f8ae-4f61-a26a-bce89252fa10",
      "name": "Is Lead Captured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1312,
        448
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract caller contact details from the FULL conversation transcript below.\nReturn ONLY a raw JSON object (no markdown, no backticks, no explanation) with exactly these keys: name, address, phone.\nSearch EVERY line carefully. If a field is not found anywhere, use \"not provided\".\n\nFULL TRANSCRIPT (all turns combined):\n{{ ($('Twilio Voice Webhook').item.json.query || {}).ts ? ($('Twilio Voice Webhook').item.json.query || {}).ts + ' | T' + (($('Twilio Voice Webhook').item.json.query || {}).turn || '1') + ': ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '') : 'T1: ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '') }}\n\nTwilio system number — NEVER use as callback: +15077650557\nActual caller number from Twilio: {{ $('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}",
        "messages": {
          "messageValues": [
            {
              "message": "You extract contact details from a voice call transcript. Return ONLY a raw JSON object with keys: name, address, phone. No markdown, no backticks.\n\nRules:\n- NEVER use +15077650557 as the phone — that is the business Twilio line.\n- If the caller said 'this number', 'my number', 'same number', or 'call me back on this', use the Twilio Caller ID.\n- If the caller stated a phone number verbally, use that number.\n- If phone is not found in the transcript at all, use the Twilio Caller ID as fallback.\n- Search the ENTIRE transcript for name and address — they may appear in any turn.\n- If name or address truly cannot be found, use \"not provided\".\n\nFull transcript:\n{{ ($('Twilio Voice Webhook').item.json.query || {}).ts ? ($('Twilio Voice Webhook').item.json.query || {}).ts + ' | T' + (($('Twilio Voice Webhook').item.json.query || {}).turn || '1') + ': ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '') : $('Twilio Voice Webhook').item.json.body.SpeechResult }}\nTwilio Caller ID: {{ $('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}"
            }
          ]
        }
      },
      "id": "7ef2ada8-2efd-4140-9c5f-aad27284a6fb",
      "name": "Extract Lead Details",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1088,
        368
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0
        }
      },
      "id": "1460d2fc-984d-4f47-9c71-f783a5be52c7",
      "name": "OpenAI Extract Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -976,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "yNLWTA5R8B2QwksZ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sunjilllb4@gmail.com",
        "subject": "=New ParrotScout Demo Lead",
        "message": "=<h2>New Demo Call Lead</h2><table style=\"border-collapse:collapse;font-family:sans-serif\"><tr><td style=\"padding:8px;font-weight:bold\">Caller Phone</td><td style=\"padding:8px\">{{ $('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Name</td><td style=\"padding:8px\">{{ (() => { try { return JSON.parse($json.text.replace(/```json|```/g, '').trim()).name || 'not provided'; } catch(e) { return 'not provided'; } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Address</td><td style=\"padding:8px\">{{ (() => { try { return JSON.parse($json.text.replace(/```json|```/g, '').trim()).address || 'not provided'; } catch(e) { return 'not provided'; } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Callback Number</td><td style=\"padding:8px\">{{ (() => { try { const p = JSON.parse($json.text.replace(/```json|```/g, '').trim()).phone; return (p && p !== 'not provided' && p !== '+15077650557') ? p : ($('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From); } catch(e) { return ($('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From); } })() }}</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Full Transcript</td><td style=\"padding:8px;color:#555;font-size:12px\">{{ ($('Twilio Voice Webhook').item.json.query || {}).ts ? ($('Twilio Voice Webhook').item.json.query || {}).ts + ' | T' + (($('Twilio Voice Webhook').item.json.query || {}).turn || '1') + ': ' + ($('Twilio Voice Webhook').item.json.body.SpeechResult || '') : $('Twilio Voice Webhook').item.json.body.SpeechResult }}</td></tr></table><p style=\"color:#999;font-size:12px\">{{ $now.toLocaleString() }}</p>",
        "options": {}
      },
      "id": "00e1b6f2-1ab0-40d3-ad21-ea295432599a",
      "name": "Email Lead Details",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -736,
        288
      ],
      "webhookId": "38cb1c7d-4a9e-416c-a66d-3a68a3ce623e",
      "credentials": {
        "gmailOAuth2": {
          "id": "3hlCmznUzH2JAJNa",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "from": "+15077650557",
        "to": "+15753839095",
        "message": "=New ParrotScout Lead!\nPhone: {{ $('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From }}\nName: {{ (() => { try { return JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).name || 'not provided'; } catch(e) { return 'not provided'; } })() }}\nAddress: {{ (() => { try { return JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).address || 'not provided'; } catch(e) { return 'not provided'; } })() }}\nCallback: {{ (() => { try { const p = JSON.parse($('Extract Lead Details').item.json.text.replace(/```json|```/g, '').trim()).phone; return (p && p !== 'not provided' && p !== '+15077650557') ? p : ($('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From); } catch(e) { return ($('Twilio Voice Webhook').item.json.body.From === '+15077650557' ? $('Twilio Voice Webhook').item.json.body.To : $('Twilio Voice Webhook').item.json.body.From); } })() }}",
        "options": {}
      },
      "id": "7d3aaa0b-dfb8-4f37-9e40-31fc3e0ea0ad",
      "name": "SMS Lead to Admin",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -736,
        480
      ],
      "credentials": {
        "twilioApi": {
          "id": "s6VdHDFGq7AQrV7q",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fkwlcNo0hNkZnxbgpCUhsHlXGCfTI06DySJ_JAZkWHU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fkwlcNo0hNkZnxbgpCUhsHlXGCfTI06DySJ_JAZkWHU/edit#gid=0"
        },
        "options": {}
      },
      "id": "a05effb6-b30a-47a3-9d9f-a9ea9c3689b6",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2096,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jIjKJwUKv54jP30y",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fkwlcNo0hNkZnxbgpCUhsHlXGCfTI06DySJ_JAZkWHU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fkwlcNo0hNkZnxbgpCUhsHlXGCfTI06DySJ_JAZkWHU/edit#gid=0"
        },
        "options": {}
      },
      "id": "178b1b35-e18f-4a64-b9ae-95e6ed99b1e9",
      "name": "Read Config SMS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2080,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jIjKJwUKv54jP30y",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Voice Webhook": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Voice Receptionist": {
      "main": [
        [
          {
            "node": "Return TwiML XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Voice Receptionist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Return TwiML XML": {
      "main": [
        [
          {
            "node": "Is Lead Captured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Status Webhook": {
      "main": [
        [
          {
            "node": "Read Config SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Missed Call?": {
      "main": [
        [
          {
            "node": "Send Missed Call SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Form Webhook": {
      "main": [
        [
          {
            "node": "Save Lead to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Sheet": {
      "main": [
        [
          {
            "node": "Email Lead Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text Admin Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instant Demo Webhook": {
      "main": [
        [
          {
            "node": "Initiate Demo Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead Captured?": {
      "main": [
        [
          {
            "node": "Extract Lead Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Details": {
      "main": [
        [
          {
            "node": "Email Lead Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Lead to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extract Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Lead Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "OpenAI Voice Receptionist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config SMS": {
      "main": [
        [
          {
            "node": "Is Missed Call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c1c11166-4269-4363-942c-0eb1930423cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3af6e4256d4c0af110bc517a71545fbcc47d8692f4bc7795a6fe104577da5153"
  },
  "id": "G7RPxSbZHCEl0RLw",
  "tags": []
}